In [1]:
import os
os.chdir('..')
os.getcwd()

'/Users/wliao0504/code/clif/pyCLIF'

In [2]:
import yaml

with open('config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

In [3]:
import pandas as pd
from pathlib import Path

# Import individual table classes
from clifpy.tables.patient import Patient
from clifpy.tables.hospitalization import Hospitalization  
from clifpy.tables.vitals import Vitals
from importlib import reload

In [4]:
# Initialize the tables
patient = Patient.from_file(
    data_directory=config['tables_path'],
    filetype='parquet', 
    timezone='UTC'
)
hospitalization = Hospitalization.from_file(
    data_directory=config['tables_path'], 
    filetype='parquet', 
    timezone='UTC'
)

Loading clif_patient.parquet
Data loaded successfully from clif_patient.parquet
death_dttm: null count before conversion= 85
death_dttm: Your timezone is UTC, Converting to your site timezone (UTC).
death_dttm: null count after conversion= 85
Loading clif_hospitalization.parquet
Data loaded successfully from clif_hospitalization.parquet
admission_dttm: null count before conversion= 0
admission_dttm: Your timezone is UTC, Converting to your site timezone (UTC).
admission_dttm: null count after conversion= 0
discharge_dttm: null count before conversion= 0
discharge_dttm: Your timezone is UTC, Converting to your site timezone (UTC).
discharge_dttm: null count after conversion= 0

In [5]:
%load_ext autoreload
%autoreload 2

from clifpy.tables.medication_admin_continuous import MedicationAdminContinuous

mac = MedicationAdminContinuous.from_file(
    data_directory=config['tables_path'], 
    filetype='parquet', 
    timezone='UTC'
)

vitals = Vitals.from_file(
    data_directory=config['tables_path'], 
    filetype='parquet', 
    timezone='UTC'
)
vitals_df = vitals.df

Loading clif_medication_admin_continuous.parquet
Data loaded successfully from clif_medication_admin_continuous.parquet

AttributeError: Can only use .str accessor with string values!

In [ ]:
mac.validate()

Validation completed with 4 error(s). See `errors` attribute.

In [ ]:
mac.df

,hospitalization_id,med_order_id,admin_dttm,med_name,med_category,med_group,med_route_name,med_route_category,med_dose,med_dose_unit,mar_action_name,mar_action_category
0,20044587,8238199,2113-08-25 17:31:00+00:00,Dextrose 5%,dextrose,others,NaN,NaN,5.0,mL/hour,start,NaN
1,20044587,8238199,2113-08-27 21:26:00+00:00,Dextrose 5%,dextrose,others,NaN,NaN,0.0,mL/hour,Stopped,NaN
2,20044587,9731494,2113-08-25 21:43:00+00:00,Dextrose 5%,dextrose,others,NaN,NaN,200.0,mL/hour,start,NaN
3,20044587,9731494,2113-08-25 21:58:00+00:00,Dextrose 5%,dextrose,others,NaN,NaN,0.0,mL/hour,FinishedRunning,NaN
4,20044587,8890793,2113-08-25 22:03:00+00:00,Dextrose 5%,dextrose,others,NaN,NaN,100.0,mL/hour,start,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6805,29974575,4770561,2131-03-04 11:00:00+00:00,Magnesium Sulfate (Bolus),magnesium,others,NaN,NaN,50.0,mL/hour,start,NaN
6806,29974575,196330,2131-03-05 10:26:00+00:00,Magnesium Sulfate (Bolus),magnesium,others,NaN,NaN,50.0,mL/hour,start,NaN
6807,29974575,6947205,2131-03-08 03:30:00+00:00,Magnesium Sulfate (Bolus),magnesium,others,NaN,NaN,50.0,mL/hour,start,NaN
6808,29974575,6582775,2131-03-01 16:25:00+00:00,Magnesium Sulfate (OB-GYN),magnesium,others,NaN,NaN,2.0,grams/hour,start,NaN
6809,29974575,6582775,2131-03-01 17:25:00+00:00,Magnesium Sulfate (OB-GYN),magnesium,others,NaN,NaN,0.0,grams/hour,FinishedRunning,NaN

In [ ]:
df = mac.standardize_dose_unit(vitals_df, mac.df)
df.head()

,hospitalization_id,med_order_id,admin_dttm,med_name,med_category,med_group,med_route_name,med_route_category,med_dose,med_dose_unit,...,mar_action_category,weight_kg,weight_recorded_dttm,rn,med_dose_unit_lower,time_multiplier,pt_weight_adjustment,dose_multiplier,med_dose_converted,med_dose_unit_converted
0,20044587,5689218,2113-08-25 11:30:00-06:00,Propofol,propofol,sedation,NaN,NaN,40.064104,mcg/kg/min,...,NaN,77.8,2113-08-25 09:07:00-06:00,1,mcg/kg/min,1.000000,77.8,1.0,3116.987284,mcg/min
1,20044587,8238199,2113-08-25 11:31:00-06:00,Dextrose 5%,dextrose,others,NaN,NaN,5.000000,mL/hour,...,NaN,77.8,2113-08-25 09:07:00-06:00,1,ml/hour,0.016667,1.0,1.0,0.083333,ml/min
2,20044587,5689218,2113-08-25 15:28:00-06:00,Propofol,propofol,sedation,NaN,NaN,59.891909,mcg/kg/min,...,NaN,77.8,2113-08-25 09:07:00-06:00,1,mcg/kg/min,1.000000,77.8,1.0,4659.590548,mcg/min
3,20044587,9731494,2113-08-25 15:43:00-06:00,Dextrose 5%,dextrose,others,NaN,NaN,200.000000,mL/hour,...,NaN,77.8,2113-08-25 09:07:00-06:00,1,ml/hour,0.016667,1.0,1.0,3.333333,ml/min
4,20044587,9731494,2113-08-25 15:58:00-06:00,Dextrose 5%,dextrose,others,NaN,NaN,0.000000,mL/hour,...,NaN,77.8,2113-08-25 09:07:00-06:00,1,ml/hour,0.016667,1.0,1.0,0.000000,ml/min

In [ ]:
mac_df = mac.df

In [ ]:
mac._run_universal_validations()

In [4]:
import pandas as pd
from clifpy import ClifOrchestrator

# Initialize the ClifOrchestrator
# You'll need to adjust the data_directory path to your actual data location
co = ClifOrchestrator(
    data_directory='../clifpy/data/clif_demo/',  # Adjust this path
    filetype='parquet',  # or 'csv' depending on your data format
    timezone='UTC',
    output_directory=None  # Will create 'output' directory in current working directory
)

# Create the cohort DataFrame
cohort_df = pd.DataFrame({
    'hospitalization_id': ['23559586', '20626031'],
    'start_time': pd.to_datetime(['2137-01-01 14:29:00-06:00', '2132-12-14 08:00:00-06:00']),
    'end_time': pd.to_datetime(['2137-08-25 14:00:00-06:00', '2132-12-20 01:00:00-06:00'])
})

# Load the required tables
co.load_table('vitals')
co.load_table('labs')
co.load_table('patient_assessments')
co.load_table('medication_admin_continuous')

# Create the wide dataset
wide_df = co.create_wide_dataset(
    tables_to_load=['vitals', 'labs', 'patient_assessments', 'medication_admin_continuous'],
    category_filters={
        'labs': ['creatinine','platelet_count','po2_arterial','bilirubin_total'],
        'vitals': ['map','spo2', 'weight_kg'],
        'patient_assessments': ['gcs_total'],
        "medication_admin_continuous": ["norepinephrine","epinephrine","phenylephrine","vasopressin",
                "dopamine","angiotensin","dobutamine","milrinone"]
    },
    sample=True,  # Use 20 random hospitalizations
    cohort_df=cohort_df
)

# Optional: Display the resulting DataFrame
print(f"Wide dataset created with shape: {wide_df.shape}")
print(f"Columns: {list(wide_df.columns)}")

ClifOrchestrator initialized.
Loading clif_vitals.parquet
Data loaded successfully from clif_vitals.parquet
recorded_dttm: Already in your timezone (UTC), no conversion needed.
Loading clif_labs.parquet
Data loaded successfully from clif_labs.parquet
lab_order_dttm: Already in your timezone (UTC), no conversion needed.
lab_collect_dttm: Already in your timezone (UTC), no conversion needed.
lab_result_dttm: Already in your timezone (UTC), no conversion needed.
Loading clif_patient_assessments.parquet
Data loaded successfully from clif_patient_assessments.parquet
recorded_dttm: Already in your timezone (UTC), no conversion needed.
Loading clif_medication_admin_continuous.parquet
Data loaded successfully from clif_medication_admin_continuous.parquet
admin_dttm: Already in your timezone (UTC), no conversion needed.
Loading patient table...
Loading clif_patient.parquet
Data loaded successfully from clif_patient.parquet
death_dttm: Already in your timezone (UTC), no conversion needed.
Loading hospitalization table...
Loading clif_hospitalization.parquet
Data loaded successfully from clif_hospitalization.parquet
admission_dttm: Already in your timezone (UTC), no conversion needed.
discharge_dttm: Already in your timezone (UTC), no conversion needed.
Loading adt table...
Loading clif_adt.parquet
Data loaded successfully from clif_adt.parquet
in_dttm: Already in your timezone (UTC), no conversion needed.
out_dttm: Already in your timezone (UTC), no conversion needed.
Starting wide dataset creation...
Using cohort_df with time windows for 2 hospitalizations
Using 2 hospitalization IDs from cohort_df

Loading and filtering base tables...
  ADT time filtering: 11 → 8 records
Base tables filtered - Hospitalization: 2, Patient: 100, ADT: 8

=== Processing Tables ===
Base cohort created with 2 records

Processing labs...
Loaded 931 records from labs
  Time filtering: 931 → 728 records
Filtering labs categories to: ['creatinine', 'platelet_count', 'po2_arterial', 'bilirubin_total']
Pivoted labs: 98 combo_ids with 4 category columns

Processing vitals...
Loaded 3437 records from vitals
  Time filtering: 3437 → 2199 records
Filtering vitals categories to: ['map', 'spo2', 'weight_kg']
Pivoted vitals: 512 combo_ids with 3 category columns

Processing patient_assessments...
Loaded 1202 records from patient_assessments
  Time filtering: 1202 → 753 records
Warning: Required columns assessment_category or assessment_value not found in patient_assessments

Processing medication_admin_continuous...
Loaded 256 records from medication_admin_continuous
  Time filtering: 256 → 255 records
Filtering medication_admin_continuous categories to: ['norepinephrine', 'epinephrine', 'phenylephrine', 'vasopressin', 'dopamine', 'angiotensin', 'dobutamine', 'milrinone']
Pivoted medication_admin_continuous: 88 combo_ids with 3 category columns

=== Creating wide dataset ===
Executing join query...
Applying cohort time window filtering to final dataset...
  Final time filtering: 879 → 879 records
Added missing column: gcs_total
Added missing column: epinephrine
Added missing column: dopamine
Added missing column: angiotensin
Added missing column: dobutamine
Added missing column: milrinone
Wide dataset created: 879 records with 27 columns
Wide dataset created with shape: (879, 27)
Columns: ['hospitalization_id', 'patient_id', 'age_at_admission', 'event_time', 'norepinephrine', 'phenylephrine', 'vasopressin', 'map', 'spo2', 'weight_kg', 'bilirubin_total', 'creatinine', 'platelet_count', 'po2_arterial', 'hospital_id', 'in_dttm', 'out_dttm', 'location_category', 'location_type', 'day_number', 'hosp_id_day_key', 'gcs_total', 'epinephrine', 'dopamine', 'angiotensin', 'dobutamine', 'milrinone']